### Used Car Price Prediction

### About Dataset
The used car market in India is a dynamic and ever-changing landscape. Prices can fluctuate wildly based on a variety of factors including the make and model of the car, its mileage, its condition and the current market conditions. As a result, it can be difficult for sellers to accurately price their cars.

This dataset contains information about used cars.

#### Data Description (Feature Information)

car_name: Car's Full name, which includes brand and specific model name.

brand: Brand Name of the particular car.

model: Exact model name of the car of a particular brand.
    
seller_type: Which Type of seller is selling the used car

fuel_type: Fuel used in the used car, which was put up on sale.

transmission_type: Transmission used in the used car, which was put on sale.
    
vehicle_age: The count of years since car was bought.

mileage: It is the number of kilometer the car runs per litre.
    
engine: It is the engine capacity in cc(cubic centimeters)

max_power: Max power it produces in BHP.

seats: Total number of seats in car.

selling_price: The sale price which was put up on website.

The dataset consist of 14 columns and 15411 rows.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px

import warnings

# Suppress all warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("cardekho_dataset.csv")

In [3]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

### Data Cleaning

In [4]:
# GET NUM OF COLOMS AND ROWS
print(f"Number of column :{df.shape[1]}\nNumber of rows :{df.shape[0]}")

Number of column :14
Number of rows :15411

In [5]:
### Different type of Column count in the dataset
numerical_feature = [feature for feature in df.columns if df[feature].dtypes != 'O']
discrete_feature=[feature for feature in numerical_feature if len(df[feature].unique())<25]
continuous_feature = [feature for feature in numerical_feature if feature not in discrete_feature]
categorical_feature = [feature for feature in df.columns if feature not in numerical_feature]
print("Numerical Features Count :: {}".format(len(numerical_feature)))
print("Discrete (Numerical) feature Count :: {}".format(len(discrete_feature)))
print("Continuous (Numerical) feature Count ::  {}".format(len(continuous_feature)))
print("Categorical feature Count :: {}".format(len(categorical_feature)))

Numerical Features Count :: 8
Discrete (Numerical) feature Count :: 2
Continuous (Numerical) feature Count ::  6
Categorical feature Count :: 6

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15411 non-null  int64
 1   car_name           15411 non-null  object
 2   brand              15411 non-null  object
 3   model              15411 non-null  object
 4   vehicle_age        15411 non-null  int64
 5   km_driven          15411 non-null  int64
 6   seller_type        15411 non-null  object
 7   fuel_type          15411 non-null  object
 8   transmission_type  15411 non-null  object
 9   mileage            15411 non-null  float64
 10  engine             15411 non-null  int64
 11  max_power          15411 non-null  float64
 12  seats              15411 non-null  int64
 13  selling_price      15411 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.6+ MB

In [7]:
### Removing unnecessary columns from DataFrame [if needed]
df.drop(columns = ['Unnamed: 0','car_name','brand'],axis = 1,inplace = True)

In [8]:
df.columns

Index(['model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats',
       'selling_price'],
      dtype='object')

In [9]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

1. Hadling Missing values

2. Handling Duplicates

3. Check datatype

4. Understand the datatypes

In [10]:
pd.DataFrame({'count': df.shape[0], 
              'nulls': df.isnull().sum(), 
              'nulls%': df.isnull().mean() * 100, 
              'cardinality': df.nunique(),
              'duplicated':df.duplicated().sum(),
              'datatype':df.dtypes
             })

                   count  nulls  nulls%  cardinality  duplicated datatype
model              15411      0     0.0          120         167   object
vehicle_age        15411      0     0.0           24         167    int64
km_driven          15411      0     0.0         3688         167    int64
seller_type        15411      0     0.0            3         167   object
fuel_type          15411      0     0.0            5         167   object
transmission_type  15411      0     0.0            2         167   object
mileage            15411      0     0.0          411         167  float64
engine             15411      0     0.0          110         167    int64
max_power          15411      0     0.0          342         167  float64
seats              15411      0     0.0            8         167    int64
selling_price      15411      0     0.0         1086         167    int64

In [11]:
# duplicate value checking
df.duplicated().sum()

167

In [12]:
#df.drop_duplicates(inplace=True)

In [13]:
df.duplicated().sum()

167

In [14]:
### Checking Unique Value in Each Column
for col in df.columns:
    unique_values = df[col].unique()
    print(f"Column: {col}")
    print(f"Unique Values: {unique_values}")
    print(f"Number of Unique Values: {len(unique_values)}\n")

Column: model
Unique Values: ['Alto' 'Grand' 'i20' 'Ecosport' 'Wagon R' 'i10' 'Venue' 'Swift' 'Verna'
 'Duster' 'Cooper' 'Ciaz' 'C-Class' 'Innova' 'Baleno' 'Swift Dzire'
 'Vento' 'Creta' 'City' 'Bolero' 'Fortuner' 'KWID' 'Amaze' 'Santro'
 'XUV500' 'KUV100' 'Ignis' 'RediGO' 'Scorpio' 'Marazzo' 'Aspire' 'Figo'
 'Vitara' 'Tiago' 'Polo' 'Seltos' 'Celerio' 'GO' '5' 'CR-V' 'Endeavour'
 'KUV' 'Jazz' '3' 'A4' 'Tigor' 'Ertiga' 'Safari' 'Thar' 'Hexa' 'Rover'
 'Eeco' 'A6' 'E-Class' 'Q7' 'Z4' '6' 'XF' 'X5' 'Hector' 'Civic' 'D-Max'
 'Cayenne' 'X1' 'Rapid' 'Freestyle' 'Superb' 'Nexon' 'XUV300' 'Dzire VXI'
 'S90' 'WR-V' 'XL6' 'Triber' 'ES' 'Wrangler' 'Camry' 'Elantra' 'Yaris'
 'GL-Class' '7' 'S-Presso' 'Dzire LXI' 'Aura' 'XC' 'Ghibli' 'Continental'
 'CR' 'Kicks' 'S-Class' 'Tucson' 'Harrier' 'X3' 'Octavia' 'Compass' 'CLS'
 'redi-GO' 'Glanza' 'Macan' 'X4' 'Dzire ZXI' 'XC90' 'F-PACE' 'A8' 'MUX'
 'GTC4Lusso' 'GLS' 'X-Trail' 'XE' 'XC60' 'Panamera' 'Alturas' 'Altroz'
 'NX' 'Carnival' 'C' 'RX' 'Ghost' 'Quattroporte' 'Gurkha']
Number of Unique Values: 120

Column: vehicle_age
Unique Values: [ 9  5 11  6  8  3  2  4  7 10 14 12  1 15 13 16 17 18 29 19  0 21 22 25]
Number of Unique Values: 24

Column: km_driven
Unique Values: [ 120000   20000   60000 ...    9229   10723 3800000]
Number of Unique Values: 3688

Column: seller_type
Unique Values: ['Individual' 'Dealer' 'Trustmark Dealer']
Number of Unique Values: 3

Column: fuel_type
Unique Values: ['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
Number of Unique Values: 5

Column: transmission_type
Unique Values: ['Manual' 'Automatic']
Number of Unique Values: 2

Column: mileage
Unique Values: [19.7  18.9  17.   20.92 22.77 20.36 20.51 18.15 16.6  22.32 19.64 14.41
 28.09 25.2  19.27 28.4  12.99 21.4  20.85 16.09 19.67 17.4  13.6  26.59
 17.7  17.19 13.   23.01 18.6  17.92 15.1  23.4  22.54 18.   21.   15.4
 20.89 26.6  22.5  17.8  20.54 17.3  25.   24.   18.16 21.21 14.   16.8
 25.17 24.3  18.5  23.84 18.78 11.74 25.1  21.01 22.74 21.9  15.6  19.1
 22.07 22.   23.1  23.   19.08 18.27 23.9  16.1  19.81 19.44 18.59 20.62
 17.01 17.5  12.05 25.83 21.79 13.7  16.47 20.7  10.91 25.8  25.32 19.87
 18.7  14.4  22.69 20.73 16.55 20.   21.5  24.7  23.95 21.63 17.43 25.47
 33.54 15.96 21.19 26.   12.55 16.9  22.3  12.9  13.5  17.84 27.28 24.04
 22.7  16.   17.6  21.7  20.45 17.14 19.6  20.4  12.63 17.1  15.37 11.4
 13.68 17.68 12.3  12.19 17.33 20.77 12.07 20.3  27.39 16.36 15.8  11.29
 20.52 31.79  9.17 20.8  14.28 19.3  26.21 18.1  22.9  14.94 13.38 17.41
 11.5  17.03 18.2  13.9  12.4  19.34 15.81 14.21 15.15 19.01 18.12 30.46
 17.05 21.94 24.52 15.   19.   13.14 14.84 26.2  20.63 10.26 14.7  33.44
 17.2  23.26 11.36 17.99 21.13 20.68 15.26 11.57 19.12 22.05 11.8  13.93
 16.93 13.2  18.25 26.32 19.83 22.37  9.5  19.16 16.7  27.3  19.5  20.14
 19.62 22.27 32.52 11.3  15.74 16.2  24.4  18.69 15.04 17.66 12.   15.29
 14.3  10.1  16.02 15.85 14.49 16.5  22.48 22.1  15.2  10.   14.62 23.7
 12.7  10.75 21.38 20.28 11.33 20.5  17.11 22.15 11.1   8.45 20.41 10.5
 21.14  9.52 24.2  18.48 18.88 20.34 12.8  11.79 25.5  11.88 12.5  19.72
 14.23 14.1  14.12 11.25 13.33 13.4  16.38 13.96 19.56 11.   15.9  27.62
 19.95 13.1  20.46 12.39 27.4  18.23 22.8  14.59 18.19 14.8  23.8  20.65
 19.4  20.64 26.83 26.1  14.67 19.59 12.81 26.8  10.8  17.21 18.56 17.9
 16.95 21.66 26.08 12.98 18.24 18.53 12.1   7.81 26.55 18.06 13.45 11.7
 30.48 21.3  14.04 20.04 30.47 12.97 16.4  16.07 14.24 21.76 21.49 21.27
 14.71 11.49 21.56 19.71 16.73 16.11 14.5  19.02 14.75 25.6  24.07 19.33
 10.13 16.05 10.93 24.12 24.8  13.24 14.69 12.35 20.2  21.74 15.63 21.1
 14.74 15.34 23.5  24.29 15.5  16.77 14.19 15.11 18.76 19.2  17.09 16.46
 13.8  20.88 16.3  15.97  4.    9.26 12.65 15.3  20.35 14.42 20.71 15.64
 19.39 14.6  10.9   9.   21.72 32.26  7.5  23.87 19.23 26.82 12.51 15.68
 15.06 14.57  9.3  12.6  11.2  12.83 10.2  19.05 12.62 10.37 18.32 19.91
 18.57 15.41  8.9  14.11  8.5  11.9  16.78 18.3   7.94 10.6  18.8  11.78
  6.   17.54 11.31 17.85 18.4  24.1  14.38 10.4  15.01 17.24 13.29 19.19
 20.6   8.77 17.61 18.42 12.95 14.99 15.92  8.6  17.69 16.12 18.84 19.65
 17.74 17.18 13.53]
Number of Unique Values: 411

Column: engine
Unique Values: [ 796 1197  998 1498 1582 1461 1998 1248 2143 2494 1598 1497 2523 2982
  999 1199 1086 2179 1396 1198 1590 1997 1493 1120 1196 1186 1061  799
 1796 2993 1298 3198 1995 1373 1591 1968 1399 1047 1353 2755 1395 2498
 1999 2953 2393 2967 2998 2995 1956 1462 1799 2499 1451 1194 1798 2694
 1496 1969 2487 3604 1499 2987 1599 2354 1950 2148 4134 2400 1984 2979
 2609 2092 5998 1330 2956 3598 2362  793 1368 3597 1991 5461 1343 2497
 4367 1797 3498 2698 1896 2999 3855 4806 1985 2771 2157 3628 2198 2996
 2199 4395 3456 4663 2773 6592 2495 1781 2997 1597 2596 4163]
Number of Unique Values: 110

Column: max_power
Unique Values: [ 46.3   82.    80.    67.1   98.59  78.9   67.04 118.35  85.   126.32
 108.45 189.08  88.5   74.   170.   100.6   83.1   83.14 103.2  126.2
 117.3   63.    78.    81.86 168.5   67.    88.76  62.1  140.    88.73
  81.83  74.96  94.    81.8   58.16  68.   126.3  120.   103.6  121.
 113.42 152.87  70.    86.8   73.97  86.7   64.   116.3   53.3   82.9
  75.    84.   186.    98.6  113.4   47.3   90.    85.8   73.9   82.85
  98.96  68.05 261.49  74.02  99.    67.05 153.86 197.    77.    83.8
  88.7   61.7  190.    91.1  121.3  118.   147.51  69.   138.   105.5
 138.1  100.    53.26 174.5  115.   105.    89.84 117.6  177.    88.51
  73.   174.33 185.   237.36  88.8  241.4   83.11 335.    67.06  58.33
 335.25 254.7  123.24 187.7  204.   265.   167.68 171.   121.36 103.26
 147.8  130.2  134.   103.   141.   203.   110.   240.   184.   168.7
 103.52  94.68 157.8   58.2  108.5  163.7  120.69  40.3  147.5  171.5
 108.6  103.5   53.64 241.6   71.   187.74  93.87 214.56 280.   214.5
 126.24 254.8  188.   167.62 355.37 187.4  191.7  152.    93.7  110.4
 258.   138.03  88.2   83.83 140.8   57.5  149.92  88.   224.    68.1
 103.25 335.2  200.   241.3  321.   271.   127.   313.   102.    68.07
 157.7   72.   119.35 121.31 626.   130.   197.2  420.   147.94 153.87
 254.79 148.   177.46 300.   164.7  183.   121.4   47.    98.63 169.
  94.93  80.9  178.   138.08 112.   160.   139.46 160.77 108.49  38.4
  99.23  80.46 148.31 132.   201.1  260.   189.   168.    91.19 178.4
 108.62 141.1  177.5  362.9  282.    58.    83.81 150.    70.02 181.
 252.   158.2  192.   335.3  201.15 218.    72.42 157.75 245.    97.9
 100.57 116.4  364.9  167.6  123.37 102.57 181.03 272.   235.   181.04
 248.   179.5   66.   104.55 173.   104.5  178.3  154.   246.7  105.94
 244.1  215.    53.   175.   198.5  270.9  249.   116.6  601.   301.8
 138.13 255.   261.4  147.6  155.   120.7  108.    61.6  122.4  100.5
 394.3  118.3  210.   237.4   98.   167.67 163.   130.3  241.38 306.
 193.1   97.89 178.49 161.6   98.97  84.48 112.44 308.    84.82 158.
  76.43 301.72 194.3  147.4  333.   500.   194.   182.46 362.07 440.
  58.3  450.   362.    91.2  258.81 459.   151.89 600.    59.18 246.74
 197.13 158.8  261.5  194.4  201.   103.56  65.39 563.   296.   248.08
 163.2  143.   156.   270.88 385.   402.   231.1  174.57 152.88 552.
 106.    83.    80.8  130.1  119.3   62.   259.   221.3   75.1  349.5
 170.63 177.01]
Number of Unique Values: 342

Column: seats
Unique Values: [5 8 7 6 4 2 9 0]
Number of Unique Values: 8

Column: selling_price
Unique Values: [ 120000  550000  215000 ... 1640000  386000  456000]
Number of Unique Values: 1086

In [15]:
## Independent and Dependent features
X = df.drop(['selling_price'],axis=1)
y = df['selling_price']

In [16]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [17]:
y.head()

0    120000
1    550000
2    215000
3    226000
4    570000
Name: selling_price, dtype: int64

### Feature Encoding and Scaling

#### One Hot Encoding for columns which have lesser unique values and not ordinal

One Hot Encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [19]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [20]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [21]:
## Create Column Transformer with 2 types of Transformer
num_features = X.select_dtypes(exclude = 'object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop = 'first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,onehot_columns),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder = 'passthrough'
)

In [22]:
X = preprocessor.fit_transform(X)

In [23]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [24]:
## Separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.33,random_state = 42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((10325, 14), (5086, 14), (10325,), (5086,))

In [25]:
X_train

array([[ 0.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.78070786, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.5566368 ,
        -0.3208691 , -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.78047514, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.78070786, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43582879, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.04616815,
         0.06194201, -0.40302241]])

In [26]:
y_train

12074    450000
14284    430000
7700     295000
13733    310000
12196    800000
          ...
5191     665000
13418    249000
5390     250000
860      620000
7270     960000
Name: selling_price, Length: 10325, dtype: int64

### Model Training and Model Selection

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [28]:
### Create a function to Evaluate Model
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,mse,rmse,r2_square

In [41]:
## Let's start Model Training
models = {
    "LinearRegression":LinearRegression(),
    "Ridge":Ridge(),
    "Lasso":Lasso(),
    "KNeighborsRegressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "RandomForestRegressor":RandomForestRegressor(),
    "AdaBoostRegressor":AdaBoostRegressor(),
    "GradientBoostingRegressor":GradientBoostingRegressor(),
    "XGBoost Regressor":XGBRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    ## Make Prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    ## Evaluate Train and Test dataset
    model_train_mae,model_train_mse,model_train_rmse,model_train_r2_square = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_mse,model_test_rmse,model_test_r2_square = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print("*******************************************************************")

    print("Model Performance for Training Set ::")
    print("-mean_absolute_error :{:.4f}".format(model_train_mae))
    print("-mean_squared_error :{:.4f}".format(model_train_mse))
    print("-Root_mean_squared_error :{:.4f}".format(model_train_rmse))
    print("-r2_score :{:.4f}".format(model_train_r2_square))

    print("---------------------------------------------------------------------")
    
    print("Model Performance for Test Set ::")
    print("-mean_absolute_error :{:.4f}".format(model_test_mae))
    print("-mean_squared_error :{:.4f}".format(model_test_mse))
    print("-Root_mean_squared_error :{:.4f}".format(model_test_rmse))
    print("-r2_score :{:.4f}".format(model_test_r2_square))
    
    print("="*75)

LinearRegression
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :269089.2604
-mean_squared_error :317614523214.2133
-Root_mean_squared_error :563572.9972
-r2_score :0.6170
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :281003.4130
-mean_squared_error :253401740454.3791
-Root_mean_squared_error :503390.2467
-r2_score :0.6569
===========================================================================
Ridge
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :269042.5654
-mean_squared_error :317615483996.8785
-Root_mean_squared_error :563573.8496
-r2_score :0.6170
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :280947.9075
-mean_squared_error :253383293702.4095
-Root_mean_squared_error :503371.9238
-r2_score :0.6570
===========================================================================
Lasso
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :269088.2129
-mean_squared_error :317614534311.2767
-Root_mean_squared_error :563573.0071
-r2_score :0.6170
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :281002.7280
-mean_squared_error :253400903429.1620
-Root_mean_squared_error :503389.4153
-r2_score :0.6569
===========================================================================
KNeighborsRegressor
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :92998.3148
-mean_squared_error :118794010746.7312
-Root_mean_squared_error :344665.0704
-r2_score :0.8567
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :115554.1339
-mean_squared_error :77855239043.5755
-Root_mean_squared_error :279025.5168
-r2_score :0.8946
===========================================================================
DecisionTreeRegressor
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :4500.4229
-mean_squared_error :393543904.7619
-Root_mean_squared_error :19837.9410
-r2_score :0.9995
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :135864.7906
-mean_squared_error :148255175743.5034
-Root_mean_squared_error :385039.1873
-r2_score :0.7993
===========================================================================
RandomForestRegressor
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :39829.9428
-mean_squared_error :16633126279.6409
-Root_mean_squared_error :128969.4781
-r2_score :0.9799
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :105611.2069
-mean_squared_error :57929888957.8586
-Root_mean_squared_error :240686.2874
-r2_score :0.9216
===========================================================================
AdaBoostRegressor
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :425289.9660
-mean_squared_error :249714414087.0683
-Root_mean_squared_error :499714.3325
-r2_score :0.6989
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :441078.7295
-mean_squared_error :284712648419.9337
-Root_mean_squared_error :533584.7153
-r2_score :0.6145
===========================================================================
GradientBoostingRegressor
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :110412.8982
-mean_squared_error :38745677490.9709
-Root_mean_squared_error :196839.2174
-r2_score :0.9533
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :125737.2983
-mean_squared_error :70254681130.5738
-Root_mean_squared_error :265055.9962
-r2_score :0.9049
===========================================================================
XGBoost Regressor
*******************************************************************
Model Performance for Training Set ::
-mean_absolute_error :58826.0756
-mean_squared_error :6745111788.4731
-Root_mean_squared_error :82128.6295
-r2_score :0.9919
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :100866.8600
-mean_squared_error :73095555235.8518
-Root_mean_squared_error :270361.8968
-r2_score :0.9010
===========================================================================

In [42]:
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Create separate DataFrames to store results for training and testing datasets
train_results_df = pd.DataFrame(columns=['Model', 'R2','MAE', 'MSE', 'RMSE'])
test_results_df = pd.DataFrame(columns=['Model','R2', 'MAE', 'MSE', 'RMSE'])

# Define your models
models = {
    'Linear Regression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'KNeighbors': KNeighborsRegressor(),
    'Decision Tree Regressor': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor(),
    'Adaboost Regressor': AdaBoostRegressor(),
    'GradientBoostingRegressor':GradientBoostingRegressor(),
    'XGBoost Regressor':XGBRegressor()
}

# Train and evaluate each model
for name, model in models.items():
    model.fit(X_train, y_train)
    
    # Training predictions and metrics
    train_r2 = r2_score(y_train, y_train_pred)
    y_train_pred = model.predict(X_train)
    train_mae = mean_absolute_error(y_train, y_train_pred)
    train_mse = mean_squared_error(y_train, y_train_pred)
    train_rmse = train_mse ** 0.5
    
    
    # Append training results to DataFrame
    train_results_df = pd.concat([train_results_df, pd.DataFrame([{
        'Model': name,
        'R2': train_r2,
        'MAE': train_mae, 
        'MSE': train_mse, 
        'RMSE': train_rmse
        
    }])], ignore_index=True)
    
    # Testing predictions and metrics
    y_test_pred = model.predict(X_test)
    test_r2 = r2_score(y_test, y_test_pred)
    test_mae = mean_absolute_error(y_test, y_test_pred)
    test_mse = mean_squared_error(y_test, y_test_pred)
    test_rmse = test_mse ** 0.5
    
    
    # Append testing results to DataFrame
    test_results_df = pd.concat([test_results_df, pd.DataFrame([{
        'Model': name, 
        'R2': test_r2,
        'MAE': test_mae, 
        'MSE': test_mse, 
        'RMSE': test_rmse
        
    }])], ignore_index=True)

# Display the results
print("Training Dataset Results:")
print(train_results_df)

print("\nTesting Dataset Results:")
print(test_results_df)

Training Dataset Results:
                       Model        R2            MAE           MSE  \
0          Linear Regression  0.991866  269089.260434  3.176145e+11
1                      Lasso  0.616983  269088.212872  3.176145e+11
2                      Ridge  0.616983  269042.565409  3.176155e+11
3                 KNeighbors  0.616982   92998.314770  1.187940e+11
4    Decision Tree Regressor  0.856744    4500.422922  3.935439e+08
5    Random Forest Regressor  0.999525   40255.640119  2.413308e+10
6         Adaboost Regressor  0.970897  345883.536407  1.975527e+11
7  GradientBoostingRegressor  0.761768  110412.898159  3.874568e+10
8          XGBoost Regressor  0.953276   58826.075594  6.745112e+09

            RMSE
0  563572.997237
1  563573.007082
2  563573.849639
3  344665.070390
4   19837.941041
5  155348.238487
6  444469.037335
7  196839.217360
8   82128.629530

Testing Dataset Results:
                       Model        R2            MAE           MSE  \
0          Linear Regression  0.656936  281003.412988  2.534017e+11
1                      Lasso  0.656937  281002.727983  2.534009e+11
2                      Ridge  0.656961  280947.907488  2.533833e+11
3                 KNeighbors  0.894597  115554.133897  7.785524e+10
4    Decision Tree Regressor  0.884079  128325.499738  8.562428e+10
5    Random Forest Regressor  0.923155  105004.558389  5.676080e+10
6         Adaboost Regressor  0.649540  366376.407181  2.588642e+11
7  GradientBoostingRegressor  0.906325  125447.166657  6.919245e+10
8          XGBoost Regressor  0.901041  100866.859953  7.309556e+10

            RMSE
0  503390.246682
1  503389.415293
2  503371.923832
3  279025.516832
4  292616.265662
5  238245.253979
6  508786.990302
7  263044.575581
8  270361.896790

#### Hyperparameter Tuning of Multiple Regressor Models with RandomizedSearchCV

In [43]:
## Hyperparameter Training
knn_params ={"n_neighbors":[2,3,5,10,50,30,40,50]}
rf_params = {
    "max_depth":[5,8,15,"None",10],
    "max_features":[5,7,"auto",8],
    "min_samples_split":[2,8,15,20],
    "n_estimators":[100,200,500,1000]
}
adaboost_params ={
    "n_estimators":[50,60,70,80,100],
    "loss":["linear","square","exponential"]
}

gradient_params ={
    'loss':['squared_error','huber','absolute_error'],
    'criterion':['friedman_mse','squared_error','mse'],
    'min_samples_split':[2,8,10,15],
    'n_estimators':[100,200,500,1000],
    'max_depth':[5,8,15,10,20],
    'learning_rate':[0.1,0.01,0.001]
}

xgboost_params = {
    'learning_rate':[0.1,0.01],
    'max_depth':[5,8,12,20,30],
    'n_estimators':[100,200,300,400,500],
    'colsample_bytree':[0.5,0.5,1,0.3,0.4]
}

In [32]:
knn_params

{'n_neighbors': [2, 3, 5, 10, 50, 30, 40, 50]}

In [33]:
rf_params

{'max_depth': [5, 8, 15, 'None', 10],
 'max_features': [5, 7, 'auto', 8],
 'min_samples_split': [2, 8, 15, 20],
 'n_estimators': [100, 200, 500, 1000]}

In [34]:
adaboost_params

{'n_estimators': [50, 60, 70, 80, 100],
 'loss': ['linear', 'square', 'exponential']}

In [35]:
gradient_params

{'loss': ['squared_error', 'huber', 'absolute_error'],
 'criterion': ['friedman_mse', 'squared_error', 'mse'],
 'min_samples_split': [2, 8, 10, 15],
 'n_estimators': [100, 200, 500, 1000],
 'max_depth': [5, 8, 15, 10, 20],
 'learning_rate': [0.1, 0.01, 0.001]}

In [44]:
xgboost_params

{'learning_rate': [0.1, 0.01],
 'max_depth': [5, 8, 12, 20, 30],
 'n_estimators': [100, 200, 300, 400, 500],
 'colsample_bytree': [0.5, 0.5, 1, 0.3, 0.4]}

In [46]:
## Model List for Hyperparameter Tuning
randomcv_models = [
    #("KNN",KNeighborsRegressor(),knn_params),
    ("RF",RandomForestRegressor(),rf_params),
    #("AB",AdaBoostRegressor(),adaboost_params),
    #("GB",GradientBoostingRegressor(),gradient_params)
    ('XGB',XGBRegressor(),xgboost_params)
]

In [47]:
randomcv_models

[('RF',
  RandomForestRegressor(),
  {'max_depth': [5, 8, 15, 'None', 10],
   'max_features': [5, 7, 'auto', 8],
   'min_samples_split': [2, 8, 15, 20],
   'n_estimators': [100, 200, 500, 1000]}),
 ('XGB',
  XGBRegressor(base_score=None, booster=None, callbacks=None,
               colsample_bylevel=None, colsample_bynode=None,
               colsample_bytree=None, device=None, early_stopping_rounds=None,
               enable_categorical=False, eval_metric=None, feature_types=None,
               gamma=None, grow_policy=None, importance_type=None,
               interaction_constraints=None, learning_rate=None, max_bin=None,
               max_cat_threshold=None, max_cat_to_onehot=None,
               max_delta_step=None, max_depth=None, max_leaves=None,
               min_child_weight=None, missing=nan, monotone_constraints=None,
               multi_strategy=None, n_estimators=None, n_jobs=None,
               num_parallel_tree=None, random_state=None, ...),
  {'learning_rate': [0.1, 0.01],
   'max_depth': [5, 8, 12, 20, 30],
   'n_estimators': [100, 200, 300, 400, 500],
   'colsample_bytree': [0.5, 0.5, 1, 0.3, 0.4]})]

In [48]:
from sklearn.model_selection import RandomizedSearchCV
model_param = {}
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(
        estimator = model,
        param_distributions = params,
        n_iter = 10,
        cv = 3,
        verbose = 2,
        n_jobs = -1
    )
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"-----------Best Params for {model_name}---------------")
    print(model_param[model_name])

Fitting 3 folds for each of 10 candidates, totalling 30 fits
Fitting 3 folds for each of 10 candidates, totalling 30 fits
-----------Best Params for RF---------------
{'n_estimators': 200, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}
-----------Best Params for XGB---------------
{'n_estimators': 400, 'max_depth': 8, 'learning_rate': 0.1, 'colsample_bytree': 0.5}

In [50]:
models = {
    "Random Forest Regressor":RandomForestRegressor(n_estimators = 500,
                                          min_samples_split =8, 
                                          max_features = 8, 
                                          max_depth = 15),
    #"K-Neighbors Regressor":KNeighborsRegressor(n_neighbors =5),
    #"AdaBoost Regressor":AdaBoostRegressor(n_estimators = 50,loss ='linear'),
    #"Gradient Boosting Regressor":GradientBoostingRegressor(n_estimators = 1000, 
                                                            #min_samples_split = 2, 
                                                            #max_depth = 15, 
                                                           # loss ='absolute_error', 
                                                            #learning_rate = 0.01, 
                                                            #criterion = 'squared_error')
    "XGB Regressor":XGBRegressor(n_estimators = 400, 
                                 max_depth = 8, 
                                 learning_rate = 0.1, 
                                 colsample_bytree = 0.5)
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    ## Make Prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    ## Evaluate Train and Test dataset
    model_train_mae,model_train_mse,model_train_rmse,model_train_r2_square = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_mse,model_test_rmse,model_test_r2_square = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    print("***********************************************************************")

    print("Model Performance for Training Set ::")
    print("-mean_absolute_error :{:.4f}".format(model_train_mae))
    print("-mean_squared_error :{:.4f}".format(model_train_mse))
    print("-Root_mean_squared_error :{:.4f}".format(model_train_rmse))
    print("-r2_score :{:.4f}".format(model_train_r2_square))

    print("---------------------------------------------------------------------")
    
    print("Model Performance for Test Set ::")
    print("-mean_absolute_error :{:.4f}".format(model_test_mae))
    print("-mean_squared_error :{:.4f}".format(model_test_mse))
    print("-Root_mean_squared_error :{:.4f}".format(model_test_rmse))
    print("-r2_score :{:.4f}".format(model_test_r2_square))
    
    print("="*75)

Random Forest Regressor
***********************************************************************
Model Performance for Training Set ::
-mean_absolute_error :69809.9247
-mean_squared_error :39819273467.8261
-Root_mean_squared_error :199547.6722
-r2_score :0.9520
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :102706.8230
-mean_squared_error :55636453107.5321
-Root_mean_squared_error :235873.8076
-r2_score :0.9247
===========================================================================
XGB Regressor
***********************************************************************
Model Performance for Training Set ::
-mean_absolute_error :43989.7329
-mean_squared_error :3730806518.7059
-Root_mean_squared_error :61080.3284
-r2_score :0.9955
---------------------------------------------------------------------
Model Performance for Test Set ::
-mean_absolute_error :100260.7040
-mean_squared_error :71282235825.6084
-Root_mean_squared_error :266987.3327
-r2_score :0.9035
===========================================================================